# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/
release/
.turbo/
coverage/

# env / secrets
.env
.env.*
!.env.example

# Supabase CLI
supabase/.temp/
supabase/.branches/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
